@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: #f0f8ff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .color{
    list-style: none;
    margin: 12px;
    padding: 7px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    transition: transform 0.4s ease;
}

.container .color:active {
    transform: scale(0.95);
}

.color .react-box{
    width: 190px;
    height: 188px;
    border-radius: 5px;
    background: #c20808;
}

.color:hover .react-box {
    filter: brightness(105%);
}

.color .hex-value{
    display: block;
    color: #000;
    margin: 12px 0 8px;
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
}

.refresh-button {
    position: fixed;
    left: 50%;
    bottom: 5px;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
    font-weight: 500;
    padding: 12px 20px;
    background: #1fae51;
    transform: translateX(-50%);
}